<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>740012_13.png</key>
			<dict>
				<key>width</key>
				<integer>24</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>24</integer>
				<key>originalHeight</key>
				<integer>24</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_9.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>15</integer>
				<key>originalWidth</key>
				<integer>16</integer>
				<key>originalHeight</key>
				<integer>15</integer>
				<key>x</key>
				<integer>26</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_5.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>17</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>17</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_7.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>11</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_6.png</key>
			<dict>
				<key>width</key>
				<integer>11</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>11</integer>
				<key>originalHeight</key>
				<integer>22</integer>
				<key>x</key>
				<integer>68</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_1.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>37</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>81</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_12.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_11.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>56</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_10.png</key>
			<dict>
				<key>width</key>
				<integer>244</integer>
				<key>height</key>
				<integer>252</integer>
				<key>originalWidth</key>
				<integer>258</integer>
				<key>originalHeight</key>
				<integer>252</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_3.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_2.png</key>
			<dict>
				<key>width</key>
				<integer>34</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>34</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_4.png</key>
			<dict>
				<key>width</key>
				<integer>45</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>45</integer>
				<key>originalHeight</key>
				<integer>59</integer>
				<key>x</key>
				<integer>36</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_16.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>83</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_15.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>121</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>740012_14.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>254</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>7400120.png</string>
			<key>realTextureFileName</key>
			<string>7400120.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>