<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>01_attack0106.png</key>
			<dict>
				<key>width</key>
				<integer>79</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>01_attack0107.png</key>
			<dict>
				<key>width</key>
				<integer>83</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>81</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>01_attack0108.png</key>
			<dict>
				<key>width</key>
				<integer>81</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>96</integer>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>01_attack0201.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>249</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>01_attack0202.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>7.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>01_attack0203.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>87</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>401</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>01_attack0204.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>01_attack0205.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>01_attack0206.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>89</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>154</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>01_attack0207.png</key>
			<dict>
				<key>width</key>
				<integer>82</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>01_attack0208.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>316</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>01attack0301.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>113</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>394</integer>
				<key>y</key>
				<integer>93</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>01attack0302.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>01attack0303.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>66</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>01attack0304.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>01attack0305.png</key>
			<dict>
				<key>width</key>
				<integer>63</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>01attack0306.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>262</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>9</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>01attack0307.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>103</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>-6.5</real>
			</dict>
			<key>01attack0308.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>105</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>387</integer>
				<key>y</key>
				<integer>208</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-5.5</real>
			</dict>
			<key>01_stand0101.png</key>
			<dict>
				<key>width</key>
				<integer>71</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>-11.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>01_stand0102.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>01_stand0103.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>132</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>01_stand0104.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>01_stand0105.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>290</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>01_stand0106.png</key>
			<dict>
				<key>width</key>
				<integer>77</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>370</integer>
				<key>y</key>
				<integer>325</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>01_stand0107.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>84</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>415</integer>
				<key>offsetX</key>
				<real>6</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>01_stand0108.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>78</integer>
				<key>y</key>
				<integer>415</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>01_stand0109.png</key>
			<dict>
				<key>width</key>
				<integer>78</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>158</integer>
				<key>y</key>
				<integer>415</integer>
				<key>offsetX</key>
				<real>7</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>01_stand0110.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>98</integer>
				<key>originalHeight</key>
				<integer>95</integer>
				<key>x</key>
				<integer>238</integer>
				<key>y</key>
				<integer>415</integer>
				<key>offsetX</key>
				<real>-4.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>01_stand0202.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>297</integer>
				<key>y</key>
				<integer>415</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>01_stand0210.png</key>
			<dict>
				<key>width</key>
				<integer>73</integer>
				<key>height</key>
				<integer>93</integer>
				<key>originalWidth</key>
				<integer>81</integer>
				<key>originalHeight</key>
				<integer>102</integer>
				<key>x</key>
				<integer>372</integer>
				<key>y</key>
				<integer>415</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>7000021.png</string>
			<key>realTextureFileName</key>
			<string>7000021.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>