<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>700009_b50001.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-47</real>
				<key>offsetY</key>
				<real>125.5</real>
			</dict>
			<key>700009_b50002.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>120.5</real>
			</dict>
			<key>700009_b50003.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>101</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-12.5</real>
				<key>offsetY</key>
				<real>100.5</real>
			</dict>
			<key>700009_b50004.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>48.5</real>
				<key>offsetY</key>
				<real>87</real>
			</dict>
			<key>700009_b50005.png</key>
			<dict>
				<key>width</key>
				<integer>70</integer>
				<key>height</key>
				<integer>59</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>269</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>63.5</real>
				<key>offsetY</key>
				<real>54</real>
			</dict>
			<key>700009_b50006.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>85</real>
				<key>offsetY</key>
				<real>30</real>
			</dict>
			<key>700009_b50007.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>396</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>90</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>700009_b50008.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>447</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>85</real>
				<key>offsetY</key>
				<real>-29</real>
			</dict>
			<key>700009_b50009.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>66</real>
				<key>offsetY</key>
				<real>-58</real>
			</dict>
			<key>700009_b50010.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>48.5</real>
				<key>offsetY</key>
				<real>-85.5</real>
			</dict>
			<key>700009_b50011.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>121</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>18.5</real>
				<key>offsetY</key>
				<real>-105.5</real>
			</dict>
			<key>700009_b50012.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>173</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>-14.5</real>
				<key>offsetY</key>
				<real>-118.5</real>
			</dict>
			<key>700009_b50013.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>55</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>-47.5</real>
				<key>offsetY</key>
				<real>-122</real>
			</dict>
			<key>700009_a50001.png</key>
			<dict>
				<key>width</key>
				<integer>108</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>273</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>-47.5</real>
				<key>offsetY</key>
				<real>32</real>
			</dict>
			<key>700009_a50002.png</key>
			<dict>
				<key>width</key>
				<integer>118</integer>
				<key>height</key>
				<integer>165</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>383</integer>
				<key>y</key>
				<integer>68</integer>
				<key>offsetX</key>
				<real>-41.5</real>
				<key>offsetY</key>
				<real>27</real>
			</dict>
			<key>700009_a50003.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>-39</real>
				<key>offsetY</key>
				<real>21</real>
			</dict>
			<key>700009_a50005.png</key>
			<dict>
				<key>width</key>
				<integer>170</integer>
				<key>height</key>
				<integer>117</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>129</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>-26.5</real>
				<key>offsetY</key>
				<real>11</real>
			</dict>
			<key>700009_a50004.png</key>
			<dict>
				<key>width</key>
				<integer>153</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>301</integer>
				<key>y</key>
				<integer>239</integer>
				<key>offsetX</key>
				<real>-33</real>
				<key>offsetY</key>
				<real>15.5</real>
			</dict>
			<key>700009_a50007.png</key>
			<dict>
				<key>width</key>
				<integer>175</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>394</integer>
				<key>offsetX</key>
				<real>-19</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>700009_a50006.png</key>
			<dict>
				<key>width</key>
				<integer>203</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>233</integer>
				<key>originalHeight</key>
				<integer>305</integer>
				<key>x</key>
				<integer>177</integer>
				<key>y</key>
				<integer>394</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>7</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>7000090.png</string>
			<key>realTextureFileName</key>
			<string>7000090.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>