<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>700010_s20009.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>153</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>700010_s20010.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>153</integer>
				<key>x</key>
				<integer>89</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-10.5</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>700010_s30001.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>178</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>700010_s30002.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>700010_s30003.png</key>
			<dict>
				<key>width</key>
				<integer>125</integer>
				<key>height</key>
				<integer>131</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>700010_s30004.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>700010_s30005.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>700010_s30006.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>130</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>374</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>700010_s30007.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>133</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>281</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>700010_s30008.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>281</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>700010_s30009.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>234</integer>
				<key>y</key>
				<integer>281</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>700010_s30010.png</key>
			<dict>
				<key>width</key>
				<integer>95</integer>
				<key>height</key>
				<integer>146</integer>
				<key>originalWidth</key>
				<integer>144</integer>
				<key>originalHeight</key>
				<integer>160</integer>
				<key>x</key>
				<integer>331</integer>
				<key>y</key>
				<integer>281</integer>
				<key>offsetX</key>
				<real>-13.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>7000109.png</string>
			<key>realTextureFileName</key>
			<string>7000109.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>