<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>700010_a10001.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-16</real>
			</dict>
			<key>700010_a10002.png</key>
			<dict>
				<key>width</key>
				<integer>144</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>149</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-15.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>700010_a10003.png</key>
			<dict>
				<key>width</key>
				<integer>126</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>295</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>10.5</real>
			</dict>
			<key>700010_a10004.png</key>
			<dict>
				<key>width</key>
				<integer>135</integer>
				<key>height</key>
				<integer>159</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>-11</real>
				<key>offsetY</key>
				<real>14.5</real>
			</dict>
			<key>700010_a10005.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>137</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>15.5</real>
				<key>offsetY</key>
				<real>-19.5</real>
			</dict>
			<key>700010_a10006.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>289</integer>
				<key>y</key>
				<integer>161</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>700010_a10007.png</key>
			<dict>
				<key>width</key>
				<integer>149</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>322</integer>
				<key>offsetX</key>
				<real>15</real>
				<key>offsetY</key>
				<real>-20</real>
			</dict>
			<key>700010_a10008.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>210</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>322</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-24</real>
			</dict>
			<key>700010_a20001.png</key>
			<dict>
				<key>width</key>
				<integer>121</integer>
				<key>height</key>
				<integer>127</integer>
				<key>originalWidth</key>
				<integer>252</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>274</integer>
				<key>y</key>
				<integer>322</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-11</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>7000100.png</string>
			<key>realTextureFileName</key>
			<string>7000100.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>